*
!*.*
!*/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
__pycache__

### macOS ###
# General
.DS_Store

# Thumbnails
._*

### LaTeX ###
*.aux
*.gz
*.log
*.out
*.pdf
*.pt
*.pth
vision/*.ipynb

articles
test.*
